.cocktail-description{
  width: 500px;
}

#cocktail-header{
  font-family: 'Homemade Apple', cursive;;
}

#show-container{
  position: relative;
  top: 150px;

  a{
    color: black;
    transition-duration: 0.2s;

  &:hover{
    text-decoration: none;
    color: #A5FFFE;
  }
}
}