.home-banner {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/494/882/original/cocktail_party_banner_neon_1170.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

