.card{
  height: 350px;
  object-fit: cover;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}