// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
}

.banner-section{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 120px;
  h1{
    position: relative;
    top: 100px;
    font-family: 'Homemade Apple', cursive;
  }
  #down{
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    border: solid 1px rgb(95, 95, 95);
    position: relative;
    top: 600px;
    color: rgb(95, 95, 95);
    transition-duration: 1s;
    &:hover{
      color: rgb(145, 145, 145);
      border: solid 1px rgb(145, 145, 145);
    }
  }
}

.container{
  h2{  
    position: relative;
    top: 60px;
    font-family: 'Homemade Apple', cursive;
  }
}



.card{
  height: 300px;
  object-fit: cover;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.footer{
  font-family: 'Homemade Apple', cursive;
}